body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

.image-heading {
  background: transparent;
  color: #003366;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
}

img {
  width: 100%;
  height: 50%;
  display: block;
  margin-bottom: 20px;
  border-radius: 8px;
}

h1,
h2,
h3 {
  color: #2c3e50;
}

ul {
  padding-left: 20px;
}

section {
  margin-bottom: 30px;
}
